<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="no-js ie9"> <!![endif]-->
  <head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Fall Membership Drive | The Texas Tribune</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://s3.amazonaws.com/static.texastribune.org/common/images/favicon.ico">
    <!-- Open Graph info -->
    <meta property="og:url" content="http://anniversary.texastribune.org/">
    <meta property="og:image" content="https://s3.amazonaws.com/static.texastribune.org/media/membership/FMD14/FMD14-FBshare-img001.png">
    <meta property="og:image" content="https://s3.amazonaws.com/static.texastribune.org/media/membership/FMD14/FMD14-FBshare-img003.png">
    <meta property="og:title" content="Fall Membership Drive | The Texas Tribune">
    <meta property="og:type" content="website">
    <meta property="og:description" content="I support The Texas Tribune, and you should, too! Learn more about the important work the Tribune is doing on behalf of Texans at anniversary.texastribune.org, and become a member during the Fall Member Drive at texastribune.org/join.">
    <!-- Apple icons -->
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://s3.amazonaws.com/static.texastribune.org/media/icons/iPhone_Icon_60x60.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://s3.amazonaws.com/static.texastribune.org/media/icons/iPad_Icon_76x76.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://s3.amazonaws.com/static.texastribune.org/media/icons/iPhone_Icon_120x120.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://s3.amazonaws.com/static.texastribune.org/media/icons/iPad_Icon_152x152.png"/>
    <!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//use.typekit.net/zww2dfy.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
      <%= partial "header" %>
      <%= yield %>
      <%= partial "footer" %>
    <%= stylesheet_link_tag "app" %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <%= javascript_include_tag 'all' %>
    <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" %>

    <!-- google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-9827490-1', 'texastribune.org');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');

      // Google Analytics Event Tracking

      // Email sharing
      $('.email-sharing').on('click', function() {
        ga('send', 'event', 'social-icon', 'click', 'email-sharing');
      });

      // Twitter sharing
      $('.twitter-sharing').on('click', function() {
        ga('send', 'event', 'social-icon', 'click', 'twitter-sharing');
      });

      // Facebook sharing
      $('.facebook-sharing').on('click', function() {
        ga('send', 'event', 'social-icon', 'click', 'facebook-sharing');
      });

      // Nav link clicks
      $('.header-link').on('click', function() {
        ga('send', 'event', 'link', 'click', 'nav-link');
      });

      // Join link clicks in copy
      $('.join-links').on('click', function() {
        ga('send', 'event', 'link', 'click', 'copy-join-link');
      });

      // Info link clicks in copy
      $('.copy-links').on('click', function() {
        ga('send', 'event', 'link', 'click', 'copy-info-link');
      });
    </script>

  </body>
</html>
