---
title: Fall Membership Drive | The Texas Tribune
---
<div class="wrapper">
  <div class="container section-header center" id="story">
    <h1>OUR <span class="yellow">STORY</span></h1>
  </div>
  <div class="container transparent">
    <div class="inner-wrap">
      <div class="text-container small white">
        <h2>The New News Model</h2>
          <p class="text">The global recession in 2008 and 2009 put increased pressure on an already declining commercial print and broadcast news industry. Faced with declining circulation, advertising losses and a new wave of digital competitors, the news industry struggled mightily. Texas certainly wasn’t spared. The reporting corps in the statehouse had dwindled, and options for in-depth coverage of state politics and public policy were quickly drying up.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="inner-wrap">
      <div class="text-container large">
        <h2>Introducing the Texas Tribune</h2>
          <p class="text">The Texas Tribune is a nonpartisan, nonprofit media organization that informs Texans — and engages with them — about public policy, politics, government and statewide issues.<br><br>This fall marks the Tribune’s fifth year of providing free award-winning journalism, standing-room-only events and in-depth public data interactives.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="inner-wrap">
      <div class="center">
        <div class="video">
          <iframe width="560" height="315" src="//www.youtube.com/embed/5nzCXiyMiwo?list=PLJ0QpNyUHKi6i6FdaNouBgm17Cl961I63" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="container yellow-bg">
    <div class="inner-wrap">
      <h1 class="quote black">"<%= lorem.sentences 2 %>."</h1>
      <h1 class="quote"><span class="white">-TXTRIB MEMBER</span></h1>
    </div>
  </div>
  <div class="container section-header center" id="innovation">
    <h1>ACCESS AND <span class="yellow">INNOVATION</span></h1>
  </div>
  <div class="container">
    <div class="inner-wrap">
      <div class="text-container small left">
        <h2>Statewide Data</h2>
        <p class="text"><%= lorem.sentences 2 %></p>
      </div>
      <div class="image-container right">
        <img class="image" src="<%= lorem.image('250x300', :random_color => true, :text => 'State Wide Local You') %>">
      </div>
    </div>
  </div>
  <div class="container medium-tall transparent">
    <div class="parallax-window medium-tall transparent" data-parallax="scroll" data-image-src="http://s3.amazonaws.com/static.texastribune.org/media/images/PerryHoldsTEF_1_jpg_312x1000_q100.jpg" data-ios-fix="true" style="width: 100%;">
      <div class="inner-wrap">
        <div class="text-container small left white" style="padding-top: 5em;">
          <h2>Legislative Coverage</h2>
          <p class="text"><%= lorem.sentences 3 %></p>
        </div>
        <div class="medium right">
          <table class="white">
            <tr>
              <td class="counter-wrapper" style="padding-top: 2em;">
                <span class="counter">11,111</span>
                <p>Impressive Stat 1</p>
              </td>
              <td class="counter-wrapper" style="padding-top: 2em;">
                <span class="counter">22,222</span>
                <p>Impressive Stat 2</p>
              </td>
            </tr>
            <tr>
              <td class="counter-wrapper">
                <span class="counter">33,333</span>
                <p>Impressive Stat 3</p>
              </td>
              <td class="counter-wrapper">
                <span class="counter">44,444</span>
                <p>Impressive Stat 4</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="inner-wrap">
      <div class="text-container">
        <h2>Texas Tribune Livestream</h2>
        <p class="text"><%= lorem.sentences 3 %></p>
      </div>
      <div class="center">
        <img class="image" src="<%= lorem.image('800x200', :random_color => true, :text => 'Livestream gif') %>">
      </div>
    </div>
  </div>
  <div class="container yellow-bg">
    <div class="inner-wrap">
      <h1 class="quote black">"<%= lorem.sentences 3 %>."</h1>
      <h1 class="quote"><span class="white">-TXTRIB MEMBER</span></h1>
    </div>
  </div>
  <div class="container section-header center" id="accountability">
    <h1>Nonstop <span class="yellow">Accountability</span></h1>
  </div>
  <div class="container">
    <div class="inner-wrap">
      <div class="text-container small left">
        <h2>Watchdog Reporting</h2>
        <p class="text"><%= lorem.sentences 3 %></p>
      </div>
      <div class="image-container right">
        <img class="image" src="<%= lorem.image('300x200', :random_color => true, :text => 'Reporter Bar Graph') %>">
      </div>
    </div>
  </div>
  <div class="container short transparent parallax-window" data-parallax="scroll" data-image-src="http://s3.amazonaws.com/static.texastribune.org/media/images/2013/09/13/Housotn_jpg_312x1000_q100.jpg" data-ios-fix="true" data-speed="0.4" style="width: 100%; height: 400px; background: transparent;">
    <div class="inner-wrap">
      <div class="text-container small left">
        <h2 class="white">Bidness as Usual</h2>
        <p class="white"><%= lorem.sentences 3 %></p>
      </div>
      <div class="text-container medium right">
        <p class="quote white">"<%= lorem.sentences 2 %>."</p>
        <p class="quote white">- Ganet Award</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="inner-wrap">
      <div class="center">
        <img class="image" src="/img/TribInvestigates-white-logo.png">
      </div>
      <div class="text-container large">
        <p class="text"><%= lorem.sentences 2 %></p>
      </div>
      <div class="text-container small left">
        <h2>Hurting For Work</h2>
        <p class="text"><%= lorem.sentences 3 %></p>
      </div>
      <div class="image-container right">
        <img src="<%= lorem.image('300x300', :random_color => true, :text => 'Crystal Davis') %>"/>
      </div>
    </div>
  </div>
  <div class="container yellow-bg">
    <div class="inner-wrap">
      <h1 class="quote black">"<%= lorem.sentences 2 %>."</h1>
      <h1 class="quote"><span class="white">-TXTRIB MEMBER</span></h1>
    </div>
  </div>
  <div class="container section-header center" id="transparency">
    <h1>EVENTS AND <span class="yellow">TRANSPARENCY</span></h1>
  </div>
  <div class="container tall parallax-window transparent" data-parallax="scroll" data-image-src="http://s3.amazonaws.com/static.texastribune.org/media/images/2014/10/08/Tribcasters-ReeveRossTerriAlexa_jpg_312x1000_q100.jpg" data-ios-fix="true" data-speed="0.4">
    <div class="inner-wrap">
      <div class="center">
        <img src="/img/tribLIVE-white-logo.png" style="width: 100%;">
      </div>
      <div class="text-container medium left">
        <h2 class="white">1st TribLive</h2>
        <p class="text white"><%= lorem.sentences 3 %></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="inner-wrap">
      <div class="center">
        <img class="image" src="/img/TxTribFest-logo.png">
      </div>
      <div class="text-container large" style="margin: 0 auto;">
        <h2>The Texas Tribune Festival</h2>
        <p class="text"><%= lorem.sentences 4 %></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="inner-wrap">
      <div class="center">
        <div class="video">
          <iframe width="560" height="315" src="//www.youtube.com/embed/5nzCXiyMiwo?list=PLJ0QpNyUHKi6i6FdaNouBgm17Cl961I63" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <%= partial "stars" %>
  <div class="container">
    <div class="inner-wrap">
      <div class="text-container left small">
        <h2>Statewide Events</h2>
        <p class="text"><%= lorem.sentences 3 %></p>
      </div>
      <div class="image-container right">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="300px" height="300px" viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
          <path style="fill: none; stroke: #222; stroke-width: 10px;" d="M451.4,242.1l-1-1.6l-1.1-4.7l-6.9-10l-2.1-6.6l-4.8-7.3l-1.2-6.6l-1.9-15.6l-1.4-16l-1.7-16.7l-3.3-1.5
    l-5.3,1.7l-4.2-2.5l-4.6-2.1l-5.9-1.5l-4.9-2.5l-2.5-3l-2.8-0.3l-3.9,2.3l-7,0.4l-0.7-1.8l-1.1,0.1l-4.9,2.9l-3.2-1.1l-6.1,0.3
    l-1.2,4.2l-3.5,1.4l-5.5-1l-5.6-1.7l-7.4-1.3l-2-3l-0.6,0l-2.9,6.9l-4.4,0.6l-7.8-2.9l-0.9-3l-3.9-0.1l-2.5-0.5l-4.4,3.2l-5.2-1.7
    l0.1-3.3l-1.8-0.4l-3.6-4.4l-4.6-0.4l-5.2,2.9l-3.8-2.8l-6.6-0.5l-4.5-1.1l-7.1-1.3l0.2-5.6l-1.9-0.6l-2.6,1.3l-2.9-0.6l-1.5-1.4
    l-1,2.1l-3-0.3l-2.9-1.2l-8.7-5.9l-1.7-3.4V61h-92v155H48.6l1.5,6.7l3.2,0.1l4.5,4.3l2.8,6.9l7.9,3.3l2.4,5.2L83.3,255l2.3,2.5
    l8.4,3l2,3.4l2.7,1.5l1,4.5l5.9,10.4l0.7,13.3l4.1,7.5l12.9,12.2l8.7,3l3.1,3l0.1,1.1l6.6,3.4l3.3,0.9l3,1.7l4.3,1.4l3.8-4.2
    l6.7-10.5l1.3-6.2l3.5-5.5l5.7-2.7l7.3-3.3l5.3,3.5l12.3,0.4l11.3,1.3l4.4,3.2l0.1,1.9l4.5,4.8l10.3,8.3l0.4,2.4l3.1,3l1.7,6.9
    l9.8,19.8l-0.1,3.2l7.1,3.9l6.4,10.6l6,6.9l5.4,1.9l2.9,3.6l-1.8,7.3l1.1,1.5l2.2,1l-0.2,5.6l-1,1.1l1.3,3.7l5.5,2.9l2.7,10.5
    l3.8,6.2l12.8,5l8.6,1.4l7.2,4.7l5.4,0.8l2.1-0.9l9.2,1.4l9.6,5.9l4.9-3.5l1.5-2.5l-3.2-4.4l-2.1-10l-3.5-11.3l-1.5-3.9l0.9-7.5
    l1.5-6.5l1.7-7.6l1.9-9.2l-3.9-3l1.4-3.3l6.6-0.9l5.9-9.4l5.5-1.4l9.3-6.3l2.8-2.5l10.1-6.1l9.1-4.5l8.5-5.8l4.3-3.7l8.9-9.3
    l2.1-1.4l3.3-2.6l4.1-3.4l1.4-3.3l15.9-8.3l9.2-3.1l-1.4-7.2l2-4.6l0.8-12.1l0.4-4.2l-1.8-4.6l4-7.5L451.4,242.1z"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="container yellow-bg">
    <div class="inner-wrap">
      <h1 class="quote black">"<%= lorem.sentences 2 %>."</h1>
      <h1 class="quote"><span class="white">-TXTRIB MEMBER</span></h1>
    </div>
  </div>
  <div class="container section-header center" id="engagement">
    <h1>COMMUNITY<span class="yellow"> ENGAGEMENT</span></h1>
  </div>
  <div class="container short parallax-window" data-parallax="scroll" data-image-src="http://s3.amazonaws.com/static.texastribune.org/media/images/2013/09/19/TxTrib-Energy-007_jpg_312x1000_q100.jpg" data-ios-fix="true" style="height: 400px; background: transparent;">
    <div class="inner-wrap">
      <div class="text-container left small">
        <h2 class="white">Member Community</h2>
        <p class="text white"><%= lorem.sentences 3 %></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="inner-wrap">
      <div class="text-container left small">
        <h2>Audience</h2>
        <p class="text"><%= lorem.sentences 3 %></p>
      </div>
      <div class="medium right">
        <table style="margin-top: 0 !important;">
          <tr>
            <td class="counter-wrapper">
              <span class="counter">11,111</span>
              <p>Impressive Stat 1</p>
            </td>
            <td class="counter-wrapper">
              <span class="counter">22,222</span>
              <p>Impressive Stat 2</p>
            </td>
          </tr>
          <tr>
            <td class="counter-wrapper">
              <span class="counter">33,333</span>
              <p>Impressive Stat 3</p>
            </td>
            <td class="counter-wrapper">
              <span class="counter">44,444</span>
              <p>Impressive Stat 4</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <%= partial "stars" %>
  <div class="container">
    <div class="inner-wrap">
      <div class="text-container small left">
        <h2>Trib+ Newsletters</h2>
        <p class="text"><%= lorem.sentences 3 %></p>
      </div>
      <div class="image-wrap">
        <img class="image top-image" src="/img/TribPlusEDU-logo.png">
        <img class="image" src="/img/TribPlusWater-logo.png">
      </div>
      <div class="image-wrap">
        <img class="image top-image" src="/img/TheBrief-logo.png">
        <img class="image" src="/img/TheBrief-logo.png">
      </div>
    </div>
  </div>
  <%= partial "stars" %>
  <div class="container" style="background-color: #ccc;">
    <div class="inner-wrap">
      <div class="center">
        <img class="image" src="/img/tribtalk-logo-white.png">
      </div>
      <div class="text-container large">
        <h2>Perspectives on Texas</h2>
        <p class="text"><%= lorem.sentences 3 %></p>
      </div>
    </div>
  </div>
  <a name="donate"></a>
  <div class="container medium-tall yellow-bg" id="donate">
    <div class="center">
      <img class="image" src="<%= lorem.image('600x200', :random_color => true, :text => 'Donate...Join') %>">
    </div>
  </div>
</div>
