---
title: Fall Membership Drive | The Texas Tribune
---
<div id="navigator">
  <ul>
    <a href="#mission-model"><li>Mission</li></a><div class="navigator-circles"></div>
    <a href="#investigative-reporting"><li>Investigative Reporting</li></a><div class="navigator-circles"></div>
    <a href="#innovation-data"><li>Innovation & Data</li></a><div class="navigator-circles"></div>
    <a href="#events-transparency"><li>Events & Transparency</li></a><div class="navigator-circles"></div>
    <a href="#community-engagement"><li>Community Engagement</li></a><div class="navigator-circles"></div>
  </ul>
</div>
<div class="wrapper">
  <div class="main">
    <div class="container" id="mission-model">
      <a name="mission-model"></a>
      <h1 class="secondary-header">Our Mission</h1>
      <div class="text-container left">
        <h2>The News Crisis</h2>
          <p class="text">The global recession in 2008 and 2009 put increased pressure on an already declining commercial print and broadcast news industry. Faced with declining circulation, advertising losses and a new wave of digital competitors, the news industry struggled mightily. Texas certainly wasn’t spared. The reporting corps in the statehouse had dwindled, and options for in-depth coverage of state politics and public policy were quickly drying up.</p>
      </div>
    </div>
    <div class="container">
      <h2>A New Way</h2>
      <div class="image-center">
        <img class="image" src="http://placekitten.com/300/400">
        <img class="image" src="http://placekitten.com/300/400">
      </div>
    </div>
    <div class="container yellow-bg">
      <div class="text-container">
          <p class="text">Texas Tribune founders John Thornton and Evan Smith believed nonpartisan news and information was too crucial a component of a functioning democracy to be left exclusively to market forces.<br><br>They sought to build a nonprofit alternative that would make Texas a better, healthier, more vibrant place.</p>
      </div>
    </div>
    <div class="container teal-bg">
      <div class="text-container">
        <h2>Introducing the Texas Tribune</h2>
          <p class="text">The Texas Tribune is a nonpartisan, nonprofit media organization that informs Texans — and engages with them — about public policy, politics, government and statewide issues.<br><br>This fall marks the Tribune’s fifth year of providing free award-winning journalism, standing-room-only events and in-depth public data interactives.</p>
      </div>
    </div>
    <div class="container teal-bg" style="text-align: center;">
      <iframe width="560" height="315" src="//www.youtube.com/embed/5nzCXiyMiwo?list=PLJ0QpNyUHKi6i6FdaNouBgm17Cl961I63" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="container" id="investigative-reporting">
      <a name="investigative-reporting"></a>
      <h1 class="secondary-header">Award-winning Investigative Reporting</h1>
      <div class="image-center">
        <img class="image" src="<%= lorem.image('700x300', :random_color => true, :text => 'Image: PerryTracker') %>">
      </div>
    </div>
    <div class="container">
      <div class="text-container left" style="width: 50%; margin-top: 4em">
        <h2>Perry coverage intensifies</h2>
        <p class="text"><%= lorem.sentences 5 %></p>
      </div>
      <div class="image-container left" style="width: 40%" >
        <img class="image" src="http://s3.amazonaws.com/static.texastribune.org/media/images/2014/09/21/xxTribFest_Perry392_jpg_800x1000_q100.jpg">
      </div>
    </div>
    <div class="container" id="tx-weekly">
        <div class="image-center">
          <img class="image" src="<%= lorem.image('300x300', :random_color => true, :text => 'TX Weekly Slider') %>">
        </div>
        <div class="text-container" style="margin: 0 auto">
          <h2>TW gets beefed up</h2>
          <p><%= lorem.sentences 4 %></p>
        </div>
    </div>
    <div class="container">
      <div class="text-container left" style="margin-top: 5em">
        <h2>Bidness as Usual</h2>
        <p><%= lorem.sentences 5 %></p>
      </div>
      <div class="image-container">
        <img class="image" src="<%= lorem.image('300x300', :random_color => true, :text => 'Image: Newsroom') %>">
      </div>
    </div>
    <div class="container teal-bg">
      <div class="text-container">
        <h2>Border Bureau</h2>
        <p class="text"><%= lorem.sentences 5 %></p>
      </div>
    </div>
    <div class="container teal-bg" style="text-align: center;">
      <iframe width="560" height="315" src="//www.youtube.com/embed/5nzCXiyMiwo?list=PLJ0QpNyUHKi6i6FdaNouBgm17Cl961I63" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="container dark-bg">
      <div class="image-center">
        <img class="image" src="https://s3.amazonaws.com/static.texastribune.org/common/personpedia/images/trib-investigates-banner.png">
      </div>
      <div class="text-container" style="margin: 0 auto;">
        <p class="text"><%= lorem.sentences 6 %></p>
      </div>
    </div>
     <div class="container dark-bg" style="text-align: center;">
      <iframe width="560" height="315" src="//www.youtube.com/embed/5nzCXiyMiwo?list=PLJ0QpNyUHKi6i6FdaNouBgm17Cl961I63" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="container yellow-bg" id="innovation-data">
      <a name="innovation-data"></a>
      <h1 class="secondary-header">Innovation with Data</h1>
      <div class="image-center">
        <img class="image" src="http://s3.amazonaws.com/static.texastribune.org/media/elections/scoreboard/2012-general-election-banner.png">
      </div>
      <div class="text-container">
        <h2>Election scoreboard</h2>
        <p class="text"><%= lorem.sentences 5 %></p>
      </div>
      <div class="image-center">
        <img class="image" src="http://placekitten.com/250/200">
        <img class="image" src="http://placekitten.com/250/200">
        <img class="image" src="http://placekitten.com/250/200">
      </div>
    </div>
    <div class="container" id="filibuster">
      <div class="text-container" style="margin: 0 auto; margin-top: 6em; padding: 3em;">
        <h2>Livestream: 83rd & Filibuster</h2>
        <p class="text"><%= lorem.sentences 5 %></p>
      </div>
    </div>
    <div class="container dark-bg">
      <div class="text-container">
        <h2>TT Livestream</h2>
        <p class="text"><%= lorem.sentences 7 %></p>
      </div>
      <div class="image-center">
        <img class="image" src="http://placekitten.com/600/200">
      </div>
    </div>
    <div class="container yellow-bg">
      <div class="text-container">
        <h2>Interactives: Salaries, Hospitals, Public School & Higher Ed</h2>
        <p class="text"><%= lorem.sentences 7 %></p>
      </div>
      <div class="image-center">
        <img class="image" src="http://placekitten.com/600/200">
      </div>
    </div>
    <div class="container dark-bg" id="events-transparency">
      <a name="events-transparency"></a>
      <h1 class="secondary-header">Events and Transparency</h1>
        <div class="image-center">
          <img class="image" src="<%= lorem.image('800x200', :random_color => true, :text => 'Slider: Images of TribLive') %>">
        </div>
        <div class="text-container">
          <h2>1st TribLive</h2>
          <p class="text"><%= lorem.sentences 5 %></p>
        </div>
        <div class="image-center">
          <img class="image" src="<%= lorem.image('600x200', :random_color => true, :text => 'TribLive logo') %>">
        </div>
    </div>
    <div class="container yellow-bg" style="height: 400px;">
      <div class="text-container left">
        <h2>1st Legislative Session</h2>
        <p class="text"><%= lorem.sentences 7 %></p>
      </div>
      <div class="image-container left">
          <img class="image" src="<%= lorem.image('200x200', :random_color => true, :text => 'Icon animates in') %>">
        </div>
    </div>
    <div class="container teal-bg">
      <h2>TTF: first in 2011 & breaking all records in 2013</h2>
      <div class="image-center">
        <img class="image" src="<%= lorem.image('500x200', :random_color => true, :text => 'TTF Logo') %>">
      </div>
      <div class="image-center">
        <img class="image" src="<%= lorem.image('700x300', :random_color => true, :text => 'Graphic: Comparison of TTFs') %>">
      </div>
      <div class="text-container">
        <p class="text"><%= lorem.sentences 4 %></p>
      </div>
    </div>
    <div class="container yellow-bg">
      <div class="text-container">
        <h2>Statewide Events</h2>
        <p class="text"><%= lorem.sentences 6 %></p>
      </div>
      <div class="image-center">
        <img class="image" src="<%= lorem.image('700x500', :random_color => true, :text => 'TX SVG') %>">
      </div>
    </div>
    <div class="container teal-bg" id="community-engagement">
      <a name="community-engagement"></a>
      <h1 class="secondary-header">Building a Community/Statewide Engagement</h1>
      <div class="text-container left">
        <h2>Syndication Partners (2010)</h2>
        <p class="text"><%= lorem.sentences 3 %></p>
      </div>
      <div class="image-container">
        <img class="image" src="<%= lorem.image('800x300', :random_color => true, :text => 'Grayscale logos that become color') %>">
      </div>
    </div>
    <div class="container dark-bg">
      <div class="text-container left">
        <h2>1st Member Drive</h2>
        <p class="text"><%= lorem.sentences 5 %></p>
      </div>
      <h1 style="clear: both; text-align: center;">THE TEXAS TRIBUNE IS:</h1>
      <div class="image-center">
        <img class="image" src="<%= lorem.image('700x200', :random_color => true, :text => 'Rotating taglines') %>">
      </div>
    </div>
    <div class="container yellow-bg">
      <div class="text-container left">
        <h2>10+ million visits</h2>
        <p class="text"><%= lorem.sentences 5 %></p>
      </div>
      <div class="image-container">
        <img class="image" src="<%= lorem.image('800x300', :random_color => true, :text => 'Graphic: Growth Chart') %>">
      </div>
    </div>
    <div class="container teal-bg">
      <div class="text-container left">
        <h2>Trib+ Newsletters</h2>
        <p class="text"><%= lorem.sentences 5 %></p>
      </div>
      <div class="image-center" style="clear: both;">
        <img class="image" src="https://s3.amazonaws.com/static.texastribune.org/common/plus_edu/images/Trib-plus-EDU-logo-masthead.png" style="width: 15em;">
        <img class="image" src="https://s3.amazonaws.com/static.texastribune.org/common/tt_intheflow/images/Trib-plus-Water-logo-masthead.png" style="width: 18em;">
        <img class="image" src="<%= lorem.image('300x100', :random_color => true, :text => 'The Brief') %>">
      </div>
      <div class="image-center">
        <img class="image" src="<%= lorem.image('500x100', :random_color => true, :text => 'Newsletter Signup') %>">
      </div>
    </div>
    <div class="container dark-bg">
      <div class="image-center">
        <img class="image" src="<%= lorem.image('500x100', :random_color => true, :text => 'TribTalk logo') %>">
      </div>
      <div class="text-container">
        <h2>TribTalk</h2>
        <p class="text"><%= lorem.sentences 5 %></p>
      </div>
    </div>
    <div class="container yellow-bg">
      <div class="text-container left">
        <h2>Social Media</h2>
        <p class="text"><%= lorem.sentences 7 %></p>
      </div>
      <div class="image-center">
        <img class="image" src="<%= lorem.image('800x400', :random_color => true, :text => 'Reporter Graph') %>">
      </div>
    </div>
    <div class="container" id="cta">
      <div class="image-center">
        <img class="image" src="<%= lorem.image('600x200', :random_color => true, :text => 'Donate...Join') %>">
      </div>
    </div>
  </div>
</div>
