---
title: Fall Membership Drive | The Texas Tribune
---
<div class="wrapper">
  <a name="story"></a>
  <div class="container section-header center">
    <h1>OUR <span style="color: #ffc200;">STORY</span></h1>
  </div>
  <div class="container" id="mission-model" data-center="opacity: 1;" data-top-bottom="opacity: 0.5;" data-bottom-top="background-position: 50% 0px; opacity: 0;">
    <div class="text-container left small">
      <h2>The News Crisis</h2>
        <p class="text">The global recession in 2008 and 2009 put increased pressure on an already declining commercial print and broadcast news industry. Faced with declining circulation, advertising losses and a new wave of digital competitors, the news industry struggled mightily. Texas certainly wasn’t spared. The reporting corps in the statehouse had dwindled, and options for in-depth coverage of state politics and public policy were quickly drying up.</p>
    </div>
  </div>
  <div class="container" style="padding-top: 10em; padding-bottom: 10em;" data-400="opacity: 0;" data-900="opacity: 0.5;" data-1100="opacity: 1;">
    <div class="inner-wrap">
      <div class="text-container left small">
        <h2>A New Way</h2>
          <p class="text">Texas Tribune founders John Thornton and Evan Smith believed nonpartisan news and information was too crucial a component of a functioning democracy to be left exclusively to market forces.<br><br>They sought to build a nonprofit alternative that would make Texas a better, healthier, more vibrant place.</p>
      </div>
      <div class="right">
        <img class="image" src="<%= lorem.image('400x300', :random_color => true, :text => 'Evan and Thorton') %>">
      </div>
    </div>
  </div>
  <div class="scroll-wrap" style="padding-top: 15em; padding-bottom: 15em;" data-top="background-position: 50% 0px; opacity: 1;" data-bottom-top="background-position: 50% 100px; opacity: 0;">
    <div class="container">
      <div class="inner-wrap">
        <div class="text-container large">
          <h2>Introducing the Texas Tribune</h2>
            <p class="text">The Texas Tribune is a nonpartisan, nonprofit media organization that informs Texans — and engages with them — about public policy, politics, government and statewide issues.<br><br>This fall marks the Tribune’s fifth year of providing free award-winning journalism, standing-room-only events and in-depth public data interactives.</p>
        </div>
      </div>
    </div>
    <div class="container center">
      <div class="video">
        <iframe width="560" height="315" src="//www.youtube.com/embed/5nzCXiyMiwo?list=PLJ0QpNyUHKi6i6FdaNouBgm17Cl961I63" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <a name="data"></a>
  <div class="container section-header center">
    <h1>INNOVATION WITH <span style="color: #ffc200;">DATA</span></h1>
  </div>
  <!-- <div class="container bg white-bg">
    <div class="inner-wrap">
      <div class="center">
        <img class="image" src="/img/Election-img.png">
      </div>
      <div class="text-container" data-center="opacity: 1;" data-bottom-top="opacity: 0;">
        <h2>Election scoreboard</h2>
        <p class="text"><%= lorem.sentences 5 %></p>
      </div>
      <div class="center">
        <img class="image" src="http://placekitten.com/250/200">
        <img class="image" src="http://placekitten.com/250/200">
        <img class="image" src="http://placekitten.com/250/200">
      </div>
    </div>
  </div> -->
  <div class="container center" id="filibuster" data-center="background-position: 50% 0px; opacity: 1;" data-bottom-top="background-position: 50% 100px; opacity: 0;">
    <div class="inner-wrap">
      <div class="text-container large" style="margin: 0 auto; color: #ffffff;">
        <h2>Livestream: 83rd & Filibuster</h2>
        <p class="text"><%= lorem.sentences 8 %></p>
      </div>
    </div>
  </div>
  <div class="container" style="padding-top: 8em; padding-bottom: 8em;">
    <div class="inner-wrap">
      <div class="text-container">
        <h2>Texas Tribune Livestream</h2>
        <p class="text"><%= lorem.sentences 7 %></p>
      </div>
      <div class="center">
        <img class="image" src="/img/kickstarter-logo.png" style="width: 20%; position: absolute;" data-center="left: 7em; opacity: 0;" data-bottom-top="left: -15em; opacity: 1;">
        <img class="image" src="/img/TxTrib-logo.svg" style="width: 20%;" data-center="opacity: 0;" data-bottom-top="opacity: 1;">
        <img class="image" src="/img/livestream-logo.png" style="width: 20%; position: absolute;" data-center="right: 7em; opacity: 0;" data-bottom-top="right: -15em; opacity: 1;">
      </div>
      <div class="center" style="padding-top: 1.5em;">
        <img class="image" src="/img/txtrib-livestream-logo.png" style="width: 20%;" data-center="opacity: 1;" data-bottom-top="opacity: 0;">
      </div>
    </div>
  </div>
  <div class="container" style="padding-top: 8em; padding-bottom: 8em;" data-center="opacity: 1;" data-bottom-top="opacity: 0;">
    <div class="inner-wrap">
      <div class="text-container medium left">
        <h2>Interactives: Salaries, Hospitals, Public School and Higher Education</h2>
        <p class="text"><%= lorem.sentences 7 %></p>
      </div>
      <div class="image-container right">
        <img class="image" src="http://placekitten.com/300/300">
      </div>
    </div>
  </div>
  <a name="awards"></a>
  <div class="container section-header center">
    <h1>Award-winning Investigative <span style="color: #ffc200;">Reporting</span></h1>
  </div>
  <div class="container" style="padding-top: 8em;" data-top="opacity: 1;" data-center="opacity: 0.5;" data-bottom-top="opacity: 0;">
    <div class="inner-wrap">
      <div class="center">
        <img class="image" src="<%= lorem.image('800x200', :random_color => true, :text => 'Image: PerryTracker') %>">
      </div>
    </div>
  </div>
  <div class="container" style="padding-bottom: 8em;" id="perry-coverage" data-center-center="opacity: 1;" data-bottom-top="opacity: 0;">
    <div class="inner-wrap">
      <div class="text-container medium left" style="margin-top: 4em">
        <h2>Perry coverage intensifies</h2>
        <p class="text"><%= lorem.sentences 7 %></p>
      </div>
      <img class="image mobile-hide" data-center="opacity: 1; left: -330px;" data-bottom-top="opacity: 0; left: -640px;" data-anchor-target="#perry-coverage" style="position: relative; margin-top: -80px;" src="<%= lorem.image('100x100', :random_color => true, :text => 'Plane Graphic') %>">
      <div class="image-container right" style="width: 30%;">
        <img class="image" src="http://s3.amazonaws.com/static.texastribune.org/media/images/2014/09/21/xxTribFest_Perry392_jpg_800x1000_q100.jpg">
      </div>
    </div>
  </div>
  <div class="container" id="tx-weekly" data-center="opacity: 1;" data-bottom-top="opacity: 0;">
      <div class="image-center">
        <img class="image" src="/img/TW-logo-teal.png">
      </div>
      <div class="inner-wrap">
        <div class="text-container left medium">
          <h2>gets beefed up</h2>
          <p><%= lorem.sentences 7 %></p>
        </div>
        <div class="text-container right small center">
          <span class="counter">1,784</span>
          <br>
          <p class="text" style="border-top: 1px solid rgb(255, 194, 0); padding-top: 0.2em;">SUBSCRIBERS</p>
        </div>
      </div>
  </div>
  <div class="container" id="bidness" data-center="opacity: 1;" data-bottom-top="opacity: 0;">
    <div class="inner-wrap">
      <div class="image-container">
        <img class="image" src="<%= lorem.image('100x100', :random_color => true, :text => 'Icon') %>">
      </div>
      <div class="text-container left medium clear">
        <h2>Bidness as Usual</h2>
        <p><%= lorem.sentences 7 %></p>
      </div>
    </div>
  </div>
  <div class="scroll-wrap" data-center="opacity: 1;" data-bottom-top="opacity: 0;">
    <div class="container">
      <div class="inner-wrap">
        <div class="center">
          <img class="image" src="/img/TribInvestigates-white-logo.png">
        </div>
        <div class="text-container large" style="margin: 0 auto;">
          <h2>Hurting For Work</h2>
          <p class="text"><%= lorem.sentences 6 %></p>
        </div>
      </div>
    </div>
     <div class="container center">
        <img src="<%= lorem.image('600x300', :random_color => true, :text => 'TBD') %>"/>
    </div>
  </div>
  <div class="scroll-wrap" data-center="opacity: 1;" data-bottom-top="opacity: 0;">
    <div class="container">
      <div class="inner-wrap">
        <div class="text-container large">
          <h2>Tribune Border Bureau</h2>
          <p class="text"><%= lorem.sentences 5 %></p>
        </div>
      </div>
    </div>
    <div class="container center">
      <div class="video">
        <iframe width="560" height="315" src="//www.youtube.com/embed/5nzCXiyMiwo?list=PLJ0QpNyUHKi6i6FdaNouBgm17Cl961I63" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <a name="events"></a>
  <div class="container section-header center">
    <h1><span style="color: #ffc200;">EVENTS</span> AND TRANSPARENCY</h1>
  </div>
  <div class="container" data-center="opacity: 1;" data-bottom-top="opacity: 0;">
    <div class="inner-wrap">
      <div class="center">
        <img src="/img/tribLIVE-white-logo.png" style="width: 100%;">
      </div>
        <div class="text-container large">
          <h2>1st TribLive</h2>
          <p class="text"><%= lorem.sentences 5 %></p>
        </div>
      </div>
  </div>
  <div class="container" id="lege-session" style="height: 400px;">
    <div class="inner-wrap">
      <img class="image left" data-top="left: 0;" data-center="left: -1600px;" data-anchor-target="#lege-session" style="position: relative;" src="<%= lorem.image('200x200', :random_color => true, :text => 'Animated lege icon') %>">
      <div class="text-container right medium">
        <h2>1st Legislative Session</h2>
        <p class="text"><%= lorem.sentences 7 %></p>
      </div>
    </div>
  </div>
  <div class="container" id="tt-fest" data-center="opacity: 1;" data-bottom-top="opacity: 0;">
    <div class="inner-wrap">
      <div class="center">
        <img class="image" src="/img/TxTribFest-logo.png">
      </div>
      <div class="text-container large" style="margin: 0 auto;">
        <h2>The Texas Tribune Festival</h2>
        <p class="text"><%= lorem.sentences 4 %></p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="inner-wrap">
      <div class="text-container left small">
        <h2>Statewide Events</h2>
        <p class="text"><%= lorem.sentences 6 %></p>
      </div>
      <div class="center">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="500px" height="500px" viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
          <path style="fill: none; stroke: #222; stroke-width: 10px; stroke-dasharray: 0px, 400px; stroke-dashoffset: 0;" data-center="stroke-dasharray:0px, 400px;" data-bottom-top="stroke-dasharray:400px, 400px;" d="M451.4,242.1l-1-1.6l-1.1-4.7l-6.9-10l-2.1-6.6l-4.8-7.3l-1.2-6.6l-1.9-15.6l-1.4-16l-1.7-16.7l-3.3-1.5
    l-5.3,1.7l-4.2-2.5l-4.6-2.1l-5.9-1.5l-4.9-2.5l-2.5-3l-2.8-0.3l-3.9,2.3l-7,0.4l-0.7-1.8l-1.1,0.1l-4.9,2.9l-3.2-1.1l-6.1,0.3
    l-1.2,4.2l-3.5,1.4l-5.5-1l-5.6-1.7l-7.4-1.3l-2-3l-0.6,0l-2.9,6.9l-4.4,0.6l-7.8-2.9l-0.9-3l-3.9-0.1l-2.5-0.5l-4.4,3.2l-5.2-1.7
    l0.1-3.3l-1.8-0.4l-3.6-4.4l-4.6-0.4l-5.2,2.9l-3.8-2.8l-6.6-0.5l-4.5-1.1l-7.1-1.3l0.2-5.6l-1.9-0.6l-2.6,1.3l-2.9-0.6l-1.5-1.4
    l-1,2.1l-3-0.3l-2.9-1.2l-8.7-5.9l-1.7-3.4V61h-92v155H48.6l1.5,6.7l3.2,0.1l4.5,4.3l2.8,6.9l7.9,3.3l2.4,5.2L83.3,255l2.3,2.5
    l8.4,3l2,3.4l2.7,1.5l1,4.5l5.9,10.4l0.7,13.3l4.1,7.5l12.9,12.2l8.7,3l3.1,3l0.1,1.1l6.6,3.4l3.3,0.9l3,1.7l4.3,1.4l3.8-4.2
    l6.7-10.5l1.3-6.2l3.5-5.5l5.7-2.7l7.3-3.3l5.3,3.5l12.3,0.4l11.3,1.3l4.4,3.2l0.1,1.9l4.5,4.8l10.3,8.3l0.4,2.4l3.1,3l1.7,6.9
    l9.8,19.8l-0.1,3.2l7.1,3.9l6.4,10.6l6,6.9l5.4,1.9l2.9,3.6l-1.8,7.3l1.1,1.5l2.2,1l-0.2,5.6l-1,1.1l1.3,3.7l5.5,2.9l2.7,10.5
    l3.8,6.2l12.8,5l8.6,1.4l7.2,4.7l5.4,0.8l2.1-0.9l9.2,1.4l9.6,5.9l4.9-3.5l1.5-2.5l-3.2-4.4l-2.1-10l-3.5-11.3l-1.5-3.9l0.9-7.5
    l1.5-6.5l1.7-7.6l1.9-9.2l-3.9-3l1.4-3.3l6.6-0.9l5.9-9.4l5.5-1.4l9.3-6.3l2.8-2.5l10.1-6.1l9.1-4.5l8.5-5.8l4.3-3.7l8.9-9.3
    l2.1-1.4l3.3-2.6l4.1-3.4l1.4-3.3l15.9-8.3l9.2-3.1l-1.4-7.2l2-4.6l0.8-12.1l0.4-4.2l-1.8-4.6l4-7.5L451.4,242.1z"/>
        </svg>
      </div>
    </div>
  </div>
  <a name="engagement"></a>
  <div class="container section-header center">
    <h1>BUILDING <span style="color: #ffc200;">COMMUNITY</span> THROUGH STATEWIDE <span style="color: #ffc200;">ENGAGEMENT</span></h1>
  </div>
  <div class="container">
    <div class="text-container large" style="margin: 0 auto;">
      <h2>Syndication Partners</h2>
      <p class="text"><%= lorem.sentences 5 %></p>
    </div>
    <div class="center">
      <img class="image" src="<%= lorem.image('800x300', :random_color => true, :text => 'Grayscale logos that become color') %>">
    </div>
  </div>
  <div class="container">
    <div class="inner-wrap">
      <div class="text-container large" style="margin: 0 auto;">
        <h2>Our 1st Member Drive</h2>
        <p class="text"><%= lorem.sentences 5 %></p>
      </div>
      <h1 class="center clear">THE TEXAS TRIBUNE IS:</h1>
      <div class="center">
        <img class="image" src="<%= lorem.image('700x200', :random_color => true, :text => 'Rotating taglines') %>">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="inner-wrap">
      <div class="text-container left small">
        <h2>Millions of site visits</h2>
        <p class="text"><%= lorem.sentences 5 %></p>
      </div>
      <div class="image-container right">
        <img class="image" src="<%= lorem.image('300x300', :random_color => true, :text => 'Graphic: Growth Chart') %>">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="text-container large" style="margin: 0 auto;">
      <h2>Trib+ Newsletters</h2>
      <p class="text"><%= lorem.sentences 5 %></p>
    </div>
    <div class="center" style="clear: both; padding-bottom: 1.5em;">
      <img class="image" src="/img/TribPlusEDU-logo.png" style="width: 25%; padding: 0 0.5em;">
      <img class="image" src="/img/TribPlusWater-logo.png" style="width: 25%; padding: 0 0.5em;">
      <img class="image" src="/img/TheBrief-logo.png" style="width: 25%; padding: 0 0.5em;">
    </div>
    <div class="center">
      <a href="http://www.texastribune.org/subscribe/" target="_blank">
      <img class="image" src="<%= lorem.image('500x100', :background_color => 'ffc200', :color => '222', :text => 'Signup') %>">
      </a>
    </div>
  </div>
  <div class="container">
    <div class="inner-wrap">
      <div class="center">
        <img class="image" src="/img/tribtalk-logo-white.png">
      </div>
      <div class="text-container medium left">
        <h2>TribTalk</h2>
        <p class="text"><%= lorem.sentences 5 %></p>
      </div>
      <div class="image-container right">
        <img class="image" src="<%= lorem.image('200x100', :random_color => true, :text => 'Counter') %>">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="inner-wrap">
      <div class="text-container large" style="margin: 0 auto;">
        <h2>Social Media</h2>
        <p class="text"><%= lorem.sentences 7 %></p>
      </div>
      <div class="center">
        <img class="image" src="<%= lorem.image('800x400', :random_color => true, :text => 'Graph') %>">
      </div>
    </div>
  </div>
  <a name="donate"></a>
  <div class="container">
    <div class="center">
      <img class="image" src="<%= lorem.image('600x200', :random_color => true, :text => 'Donate...Join') %>">
    </div>
  </div>
</div>
