---
title: Fall Membership Drive | The Texas Tribune
---

<div class="wrapper">
  <div class="main">
    <div class="container" id="mission-model" data-bottom-center="background-color: rgb(245, 36, 36);" data-center-center="background-color: rgb(245, 175, 55);" data-bottom="background-color: rgb(245, 36, 36);">
      <a name="mission-model"></a>
      <h1 class="secondary-header">Our Mission</h1>
      <div class="text-container left">
        <h2>The News Crisis</h2>
          <p class="text">The global recession in 2008 and 2009 put increased pressure on an already declining commercial print and broadcast news industry. Faced with declining circulation, advertising losses and a new wave of digital competitors, the news industry struggled mightily. Texas certainly wasn’t spared. The reporting corps in the statehouse had dwindled, and options for in-depth coverage of state politics and public policy were quickly drying up.</p>
      </div>
      <div class="image-container right">
        <img class="image right" src="<%= lorem.image('700x300', :random_color => true, :text => 'image of The Capitol') %>">
        <div class="image-info right">
          <cite>Photo by the Texas Tribune</cite>
        </div>
      </div>
      <div class="text-container right">
        <h2>A New Way</h2>
          <p class="text">Texas Tribune founders John Thornton and Evan Smith believed nonpartisan news and information was too crucial a component of a functioning democracy to be left exclusively to market forces.<br><br>They sought to build a nonprofit alternative that would make Texas a better, healthier, more vibrant place.</p>
      </div>
      <div class="text-container left">
        <h2>Introducing the Texas Tribune</h2>
          <p class="text">The Texas Tribune is a nonpartisan, nonprofit media organization that informs Texans — and engages with them — about public policy, politics, government and statewide issues.<br><br>This fall marks the Tribune’s fifth year of providing free award-winning journalism, standing-room-only events and in-depth public data interactives. </p>
      </div>
      <img class="flow right" src="http://placekitten.com/350/350">
    </div>
    <div class="container" id="investigative-reporting" data-bottom-center="background-color: rgb(245, 175, 55);" data-center-center="background-color: rgb(245, 245, 55);" data-bottom="background-color: rgb(245, 175, 55);">
      <a name="investigative-reporting"></a>
      <h1 class="secondary-header">Award-winning Investigative Reporting</h1>
      <div class="text-container left">
        <h2>Perry coverage intensifies</h2>
        <p class="text"><%= lorem.sentences 5 %></p>
      </div>
      <div class="image-container right">
        <img class="image right" src="<%= lorem.image('700x300', :random_color => true, :text => 'Map: PerryTracker') %>">
        <div class="image-info right">
          <cite>Photo by the Texas Tribune</cite>
        </div>
      </div>
      <div class="text-media-container">
        <div class="text-container left">
          <h2>TW gets beefed up</h2>
          <p><%= lorem.sentences 5 %></p>
        </div>
        <div class="image-container">
          <img class="image" src="<%= lorem.image('300x300', :random_color => true, :text => 'Image: Screenshot') %>">
          <div class="image-info">
            <cite>Photo by the Texas Tribune</cite>
          </div>
        </div>
      </div>
      <div class="text-media-container">
        <div class="image-container">
          <img class="image" src="<%= lorem.image('300x300', :random_color => true, :text => 'Image: Newsroom') %>">
          <div class="image-info">
            <cite>Photo by the Texas Tribune</cite>
          </div>
        </div>
        <div class="text-container left">
          <h2>Bidness as Usual</h2>
          <p><%= lorem.sentences 5 %></p>
        </div>
      </div>
      <div class="text-media-container">
        <div class="text-container left">
          <h2>Border Bureau</h2>
          <p><%= lorem.sentences 6 %></p>
        </div>
        <div class="image-container">
          <img class="image" src="<%= lorem.image('300x300', :random_color => true, :text => 'Video: Short Interview') %>">
          <div class="image-info">
            <cite>Photo by the Texas Tribune</cite>
          </div>
        </div>
      </div>
      <div class="text-container left">
        <h2>TribInvestigates & Hurting For Work</h2>
        <p class="text"><%= lorem.sentences 6 %></p>
      </div>
      <img class="flow right" src="http://placekitten.com/300/300">
    </div>
    <div class="container" id="innovation-data" data-bottom-center="background-color: rgb(245, 245, 55);" data-center-center="background-color: rgb(0, 255, 0);" data-bottom="background-color: rgb(245, 245, 55);">
      <a name="innovation-data"></a>
      <h1 class="secondary-header">Innovation with Data</h1>
      <div class="text-media-container">
        <div class="text-container left">
          <h2>Election scoreboard</h2>
          <p class="text"><%= lorem.sentences 5 %></p>
        </div>
        <div class="image-container">
          <img class="image" src="<%= lorem.image('300x300', :random_color => true, :text => 'Image: screenshot') %>">
          <div class="image-info">
            <cite>Photo by the Texas Tribune</cite>
          </div>
        </div>
      </div>
      <div class="text-media-container">
        <div class="image-container">
          <img class="image" src="<%= lorem.image('300x300', :random_color => true, :text => 'Gif: Crowds at the Capitol during Filibuster') %>">
          <div class="image-info">
            <cite>Photo by the Texas Tribune</cite>
          </div>
        </div>
        <div class="text-container left">
          <h2>Livestream: 83rd & Filibuster</h2>
          <p class="text"><%= lorem.sentences 5 %></p>
        </div>
      </div>
      <div class="text-container left">
        <h2>TT Livestream</h2>
        <p class="text"><%= lorem.sentences 7 %></p>
      </div>
      <div class="text-container right">
        <h2>Interactives: Salaries, Hospitals, Public School & Higher Ed</h2>
        <p class="text"><%= lorem.sentences 7 %></p>
      </div>
      <img class="flow left" src="http://placekitten.com/300/300">
    </div>
    <div class="container" id="events-transparency" data-bottom-center="background-color: rgb(0, 255, 0);" data-center-center="background-color: rgb(0, 0, 255);" data-bottom="background-color: rgb(0, 255, 0);">
      <a name="events-transparency"></a>
      <h1 class="secondary-header">Events and Transparency</h1>
      <div class="text-media-container">
        <div class="text-container left">
          <h2>1st TribLive</h2>
          <p class="text"><%= lorem.sentences 5 %></p>
        </div>
        <div class="image-container">
          <img class="image" src="<%= lorem.image('300x300', :random_color => true, :text => 'Video: Images of talent on stage') %>">
          <div class="image-info">
            <cite>Photo by the Texas Tribune</cite>
          </div>
        </div>
      </div>
      <div class="text-container right">
        <h2>1st Legislative Session</h2>
        <p class="text"><%= lorem.sentences 7 %></p>
      </div>
      <div class="text-container left">
        <h2>TTF: first in 2011 & breaking all records in 2013</h2>
        <p class="text"><%= lorem.sentences 4 %></p>
      </div>
      <div class="image-container right">
        <img class="image right" src="<%= lorem.image('700x300', :random_color => true, :text => 'Graphic: Comparison of TTFs') %>">
        <div class="image-info">
          <cite>Photo by the Texas Tribune</cite>
        </div>
      </div>
      <div class="text-container left">
        <h2>Statewide Events</h2>
        <p class="text"><%= lorem.sentences 6 %></p>
      </div>
      <img class="flow right" src="http://placekitten.com/300/300">
    </div>
    <div class="container" id="community-engagement" data-bottom-center="background-color: rgb(0, 0, 255);" data-center-center="background-color: rgb(153, 51, 255);" data-bottom="background-color: rgb(0, 0, 255);">
      <a name="community-engagement"></a>
      <h1 class="secondary-header">Building a Community/Statewide Engagement</h1>
      <div class="text-container left">
        <h2>Syndication Partners (2010)</h2>
        <p class="text"><%= lorem.sentences 3 %></p>
      </div>
      <div class="image-container">
        <img class="image" src="<%= lorem.image('800x300', :random_color => true, :text => 'Map: syndication partners 2010 vs. Today') %>">
        <div class="image-info">
          <cite>Photo by the Texas Tribune</cite>
        </div>
      </div>
      <div class="text-media-container">
        <div class="text-container left">
          <h2>1st Member Drive</h2>
          <p class="text"><%= lorem.sentences 5 %></p>
        </div>
        <div class="image-container">
          <img class="image" src="<%= lorem.image('300x300', :random_color => true, :text => 'Images: Drive Taglines') %>">
          <div class="image-info">
            <cite>Photo by the Texas Tribune</cite>
          </div>
        </div>
      </div>
      <div class="text-container left">
        <h2>10+ million visits</h2>
        <p class="text"><%= lorem.sentences 5 %></p>
      </div>
      <div class="image-container">
        <img class="image" src="<%= lorem.image('700x200', :random_color => true, :text => 'Graphic: Growth Chart') %>">
        <div class="image-info">
          <cite>Photo by the Texas Tribune</cite>
        </div>
      </div>
      <div class="text-media-container">
        <div class="text-container left">
          <h2>Trib+ Newsletters</h2>
          <p class="text"><%= lorem.sentences 5 %></p>
        </div>
        <div class="image-container">
          <img class="image" src="<%= lorem.image('300x300', :random_color => true, :text => 'Graphic: Newsletters by Topic') %>">
          <div class="image-info">
            <cite>Photo by the Texas Tribune</cite>
          </div>
        </div>
      </div>
      <div class="text-media-container">
        <div class="image-container">
          <img class="image" src="<%= lorem.image('300x300', :random_color => true, :text => 'Image: Screenshot') %>">
          <div class="image-info">
            <cite>Photo by the Texas Tribune</cite>
          </div>
        </div>
        <div class="text-container left">
          <h2>TribTalk</h2>
          <p class="text"><%= lorem.sentences 5 %></p>
        </div>
      </div>
      <div class="text-container right">
        <h2>Social Media</h2>
        <p class="text"><%= lorem.sentences 7 %></p>
      </div>
      <img class="flow left" src="http://placekitten.com/300/300">
    </div>
    <div class="container" id="cta" data-bottom-center="background-color: rgb(153, 51, 255);" data-center-center="background-color: rgb(160, 160, 160);" data-bottom="background-color: rgb(153, 51, 255);">
      <div class="image-container right">
        <img class="image" src="<%= lorem.image('600x200', :random_color => true, :text => 'dynamic cta') %>">
        <div class="image-info">
          <cite>Photo by the Texas Tribune</cite>
        </div>
      </div>
    </div>
  </div>
</div>
