---
title: Fall Membership Drive | The Texas Tribune
---

<div class="wrapper">
  <div class="main">
    <div class="container">
      <a name="mission-model"></a>
      <p class="text left"><%= lorem.sentences 7 %></p>
      <img class="flow right" src="<%= lorem.image('300x300', :random_color => true) %>">
    </div>
    <div class="container">
      <a name="investigative-reporting"></a>
      <div class="image-wrapper left">
        <img class="image" src="<%= lorem.image('100x100', :random_color => true) %>">
        <img class="image" src="<%= lorem.image('100x100', :random_color => true) %>">
        <img class="image" src="<%= lorem.image('100x100', :random_color => true) %>">
      </div>
      <p class="text right"><%= lorem.sentences 5 %></p>
      <img class="flow left" src="<%= lorem.image('300x300', :random_color => true) %>">
    </div>
    <div class="container">
      <a name="innovation-data"></a>
      <div class="image-wrapper right">
        <img class="image" src="<%= lorem.image('100x100', :random_color => true) %>">
        <img class="image" src="<%= lorem.image('100x100', :random_color => true) %>">
        <img class="image" src="<%= lorem.image('100x100', :random_color => true) %>">
      </div>
      <p class="text right"><%= lorem.sentences 5 %></p>
      <img class="flow left" src="<%= lorem.image('300x300', :random_color => true) %>">
    </div>
    <div class="container">
      <a name="events-transparency"></a>
      <div class="image-wrapper left">
        <img class="image" src="<%= lorem.image('100x100', :random_color => true) %>">
        <img class="image" src="<%= lorem.image('100x100', :random_color => true) %>">
        <img class="image" src="<%= lorem.image('100x100', :random_color => true) %>">
      </div>
      <p class="text left"><%= lorem.sentences 5 %></p>
      <img class="flow right" src="<%= lorem.image('300x300', :random_color => true) %>">
    </div>
    <div class="container">
      <a name="community-engagement"></a>
      <div class="image-wrapper right">
        <img class="image" src="<%= lorem.image('100x100', :random_color => true) %>">
        <img class="image" src="<%= lorem.image('100x100', :random_color => true) %>">
        <img class="image" src="<%= lorem.image('100x100', :random_color => true) %>">
      </div>
      <p class="text right"><%= lorem.sentences 5 %></p>
      <img class="flow left" src="<%= lorem.image('300x300', :random_color => true) %>">
    </div>
    <div class="container">
      <img class="image right" src="<%= lorem.image('400x100', :random_color => true, :text => 'dynamic cta') %>">
    </div>
  </div>
</div>
